<!DOCTYPE html>
<html>

<head lang="en">
	<link rel="stylesheet" href="../lib/pip-webui-lib.min.css" />
	<link rel="stylesheet" href="styles.css">

	<link rel="shortcut icon" href="icon.ico" type="image/x-icon">
	<script src="../lib/pip-webui-lib.min.js"></script>
	<script src="index.js"></script>
	<title>Pip.Webui</title>

</head>

<body ng-app="app" layout="column" layout-align="start center" ng-controller="appController">

	<section class="main">
		<header class="header">
			<img src="logo_small.svg" height="20" width="30">
		</header>
		<div class="layout-column layout-align-center-center flex main-block">
			<img src="LogoWebUI.svg" class="img">
			<p class="text">HTML5 UI Framework for Line-of-Business Applications</p>

			<md-button ng-href="{{github}}" class="button-green">
				Github
			</md-button>

		</div>
	</section>
	<section class="purpouse">
		<p class="purpouse-text">
			The framework is based on popular
			<a href="https://angularjs.org/">Angular framework</a> and <a href="https://material.angularjs.org">Angular Material library</a>			of web controls. On the top of that Pip.WebUI provides a set of modules targeted toward LOB application development.
		</p>
	</section>

	<section class="pip-grouped-grid" style="width: 100%; margin-bottom: 24px; margin-top: 12px">
		<section ng-repeat="tile in tiles" class="pip-group" ng-class="{'pip-group-xs': $mdMedia('xs'), 'pip-group-md': $mdMedia('sm') || $mdMedia('md')}">
			<div class="pip-title-group">
				{{tile.name}}
			</div>


			<a ng-class="{'pip-tile-xs flex': $mdMedia('xs')}" href="{{service.link}}" ng-repeat="service in tile.submodules" class="pip-tile bg-color-{{service.color}}">
				<md-icon class="pip-grid-icon pip-white-icon" md-svg-icon="icons:circle"></md-icon>
				<div class="text-overflow pip-text">{{::service.name}}</div>
			</a>
		</section>
	</section>

	</section>

	<section class="purpouse ">
		<p class="purpouse-text purpouse-center">
			Don't know where to start ? Start with the tutorial
		</p>
		<div class="button-center">
			<md-button ng-href="{{tutorial}}" class="button-green">
				Tutorial
			</md-button>
		</div>
	</section>

	<footer style="padding: 16px; background-color:#333; width: 100%">
		<div style="color: #fff; font-size: 12px; text-align: center">(c) Conceptual Vision Consulting LLC</div>
	</footer>

</body>

</html>