a {
  text-decoration: none !important;
}
.pip-grouped-grid {
  max-width: 740px;
  margin: 0 auto;
}
.pip-grouped-grid .pip-title-group {
  color: rgba(0, 0, 0, 0.56);
  font-size: 20px;
  font-weight: 400px;
  padding-bottom: 12px;
  padding-top: 24px;
  padding-left: 8px;
}
.pip-grouped-grid .pip-group {
  display: inline-block;
}
.pip-grouped-grid .pip-grid-icon {
  height: 60px;
  color: #fff !important;
  width: 100%;
  margin: 18px auto 16px auto;
}
.pip-grouped-grid .pip-white-icon {
  color: rgba(255, 255, 255, 0.26) !important;
}
.pip-grouped-grid .pip-text {
  color: #fff;
  text-align: center;
  height: 40px;
}
.pip-grouped-grid .pip-tile {
  display: inline-block;
  width: 140px;
  height: 140px;
  margin: 4px;
  cursor: pointer;
  border-radius: 2px;
}


.pip-grouped-grid .bg-color-0 {
  background-color: rgb(72,178,229);
}
.pip-grouped-grid .bg-color-1 {
  background-color: rgb(103,190,108)
}
.pip-grouped-grid .bg-color-2 {
  background-color: rgb(243,112,72)
}
.pip-grouped-grid .bg-color-3 {
  background-color: rgb(176,108,172)

}
.pip-grouped-grid .bg-color-4 {
  background-color: rgb(255,205,43)
}


.pip-grouped-grid .pip-tile {
  position: relative;
}
.pip-grouped-grid .pip-title-group {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
}
.pip-grouped-grid.grouped-grid-xs {
  max-width: 100%;
}
.pip-grouped-grid .pip-group-md {
  display: block;
  padding: 0 16px;
}
.pip-grouped-grid .pip-group-xs {
  display: block;
  padding: 0 12px;
}
.pip-grouped-grid .pip-tile-xs {
  width: calc(100% - 8px);
  height: 48px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.pip-grouped-grid .pip-tile-xs .pip-text {
  margin-top: 16px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.pip-grouped-grid .pip-tile-xs .pip-grid-icon {
  margin: 0;
  margin-right: 16px;
  height: 24px;
  margin-left: 16px;
  width: 24px;
  margin-top: 12px;
}
.pip-grouped-grid .pip-tile-xs .pip-badge {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-top: 8px;
  margin-right: 8px;
}
.pip-grouped-grid .pip-badge {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 9px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  color: #fff;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  background-color: #FF5252;
}

@media (max-width: 500px) {
  .pip-grouped-grid {
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .pip-grouped-grid {
    max-width: 100%;
  }
}

.main {
    min-height:  550px;
    width: 100%;
    background: #3185ad;
    background: -moz-linear-gradient(top,#3185ad 0,#3185ad 27%,#256c8d 77%,#1b5975 100%);
    background: -webkit-linear-gradient(top,#3185ad 0,#3185ad 27%,#256c8d 77%,#1b5975 100%);
    background: linear-gradient(to bottom,#3185ad 0,#3185ad 27%,#256c8d 77%,#1b5975 100%);
}
.header{
  height: 64px;
    padding-right: 16px;
    padding-left: 16px;
}
.header img {
  margin-top: 22px;
  margin-bottom: 22px  
}
.main-block {
  height: 486px
}
.text {
      font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    max-width: 400px;
    margin-bottom: 64px;
}
.button-green{
  border-color: #4eaf5a!important;
  width: 200px;
    background-color: #4eaf5a!important;
    border: 2px solid;
    color: #fff !important;
}

.purpouse {
  padding: 72px 24px;
  width: 100%;
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
}
.purpouse-text {
      max-width: 700px;
    margin: 0px auto 13px;
    padding: 19px 0px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.540588);
}
.purpouse-text a {
  color: #03a9f4 !important;
}
.purpouse-center {
  text-align: center;
}
.button-center {
    max-width: 200px;
    margin: 0px auto 13px;
}

@media (max-width: 768px) {
  .text {
    font-size: 23px;
    color: #fff;
    max-width: 300px;
    margin-bottom: 40px;
  }
  .img {
    width: 250px;
  }

  .main {
    min-height:  364px;
}

.main-block {
  height: 300px
}

.purpouse {
  padding: 24px 16px;

}
.purpouse-text {
      max-width: 320px;
    margin: 0px auto 8px;
    padding: 8px 0px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
}